## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID column, 'EIN'.
application_df = application_df.drop(["EIN"],1)

<ipython-input-2-60c606da81c9>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df = application_df.drop(["EIN"],1)

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
#Changing value counts for binning
name_counts = application_df["NAME"].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [5]:
name_counts[name_counts>10]

PARENT BOOSTER USA INC                                                    1260
TOPS CLUB INC                                                              765
UNITED STATES BOWLING CONGRESS INC                                         700
WASHINGTON STATE UNIVERSITY                                                492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                            408
                                                                          ...
USA SWIMMING INC                                                            11
SIGMA ALPHA OMEGA CHRISTIAN SORORITY INC                                    11
SOCIETY FOR PRESERVATION & ENCOURMT OF BARBERSHOP QUARTET SINGING AMER      11
SONS OF ITALY IN AMERICA                                                    11
FELLOWSHIP OF CHRISTIAN COWBOYS INC                                         11
Name: NAME, Length: 204, dtype: int64

In [6]:
# Choose a cutoff value for names if counts are less than 10.
names_to_replace = list(name_counts[name_counts<=10].index)
# Replace in dataframe
for app in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                     21202
PARENT BOOSTER USA INC                                                     1260
TOPS CLUB INC                                                               765
UNITED STATES BOWLING CONGRESS INC                                          700
WASHINGTON STATE UNIVERSITY                                                 492
                                                                          ...
AMERICAN POSTAL WORKERS UNION                                                11
SOCIETY FOR PRESERVATION & ENCOURMT OF BARBERSHOP QUARTET SINGING AMER       11
SIGMA ALPHA OMEGA CHRISTIAN SORORITY INC                                     11
FINANCIAL PLANNING ASSOCIATION                                               11
SLOW FOOD U S A INC                                                          11
Name: NAME, Length: 205, dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df["APPLICATION_TYPE"].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Choose a cutoff value for app types if counts are less than 500.
apps_to_replace = list(app_counts[app_counts < 500].index)
# Replace in dataframe
for app in apps_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")
    
# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [9]:
classification_counts = application_df["CLASSIFICATION"].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
classes_to_replace = list(classification_counts[classification_counts < 500].index)
# Replace in dataframe
for cls in classes_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
numeric_df = pd.get_dummies(application_df)

In [12]:
# Split our preprocessed data into our features and target arrays
X = numeric_df.drop(["IS_SUCCESSFUL"], axis = "columns").values
y = numeric_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes1 = 80
hidden_nodes2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes1, activation = "relu", input_dim = number_input_features))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes2, activation = "sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                20000

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 22,461
Trainable params: 22,461
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs = 100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.4814 - accuracy: 0.7691
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4462 - accuracy: 0.7822
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4427 - accuracy: 0.7839
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4406 - accuracy: 0.7870
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4389 - accuracy: 0.7869
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4379 - accuracy: 0.7862
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4371 - accuracy: 0.7879
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4366 - accuracy: 0.7885
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4354 - accuracy: 0.7890
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4350 - accuracy: 0.7881
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4344 - accuracy: 0.7898
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4332 - accuracy: 0.7900
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4331 - accuracy: 0.7891
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4322 - accuracy: 0.7915
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4320 - accuracy: 0.7904
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4312 - accuracy: 0.7916
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4311 - accuracy: 0.7900
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4300 - accuracy: 0.7919
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4300 - accuracy: 0.7912
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4297 - accuracy: 0.7913
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4291 - accuracy: 0.7918
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4287 - accuracy: 0.7918
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4280 - accuracy: 0.7923
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4278 - accuracy: 0.7918
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4271 - accuracy: 0.7925
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4269 - accuracy: 0.7921
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4270 - accuracy: 0.7937
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4263 - accuracy: 0.7931
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4259 - accuracy: 0.7927
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4258 - accuracy: 0.7936
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4249 - accuracy: 0.7940
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4251 - accuracy: 0.7934
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4250 - accuracy: 0.7951
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4246 - accuracy: 0.7945
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4242 - accuracy: 0.7933
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4240 - accuracy: 0.7944
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4240 - accuracy: 0.7940
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4235 - accuracy: 0.7946
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4232 - accuracy: 0.7942
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4230 - accuracy: 0.7947
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4229 - accuracy: 0.7950
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4228 - accuracy: 0.7943
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4225 - accuracy: 0.7945
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4222 - accuracy: 0.7957
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4221 - accuracy: 0.7952
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4217 - accuracy: 0.7955
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4216 - accuracy: 0.7960
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4219 - accuracy: 0.7961
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4216 - accuracy: 0.7961
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4215 - accuracy: 0.7952
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4207 - accuracy: 0.7954
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4213 - accuracy: 0.7949
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4213 - accuracy: 0.7967
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4204 - accuracy: 0.7962
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4205 - accuracy: 0.7963
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4205 - accuracy: 0.7961
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4201 - accuracy: 0.7968
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4200 - accuracy: 0.7968
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4197 - accuracy: 0.7970
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4195 - accuracy: 0.7964
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4197 - accuracy: 0.7973
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4194 - accuracy: 0.7967
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4193 - accuracy: 0.7970
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4188 - accuracy: 0.7977
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4187 - accuracy: 0.7982
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4191 - accuracy: 0.7967
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4193 - accuracy: 0.7967
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4188 - accuracy: 0.7973
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4184 - accuracy: 0.7976
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4188 - accuracy: 0.7971
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4187 - accuracy: 0.7966
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4181 - accuracy: 0.7973
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4183 - accuracy: 0.7981
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4183 - accuracy: 0.7981
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4183 - accuracy: 0.7976
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4184 - accuracy: 0.7976
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4183 - accuracy: 0.7973
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4181 - accuracy: 0.7985
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4180 - accuracy: 0.7982
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4183 - accuracy: 0.7984
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4179 - accuracy: 0.7987
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4179 - accuracy: 0.7982
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4175 - accuracy: 0.7983
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4175 - accuracy: 0.7984
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4173 - accuracy: 0.7990
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4176 - accuracy: 0.7987
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4178 - accuracy: 0.7988
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4173 - accuracy: 0.7987
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4174 - accuracy: 0.7977
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4175 - accuracy: 0.7987
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4172 - accuracy: 0.7988
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4171 - accuracy: 0.7987
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4170 - accuracy: 0.7981
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4169 - accuracy: 0.7979
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4170 - accuracy: 0.7993
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4169 - accuracy: 0.7988
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4168 - accuracy: 0.7989
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4164 - accuracy: 0.7986
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4167 - accuracy: 0.7993
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4166 - accuracy: 0.7990

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4587 - accuracy: 0.7826 - 441ms/epoch - 2ms/step
Loss: 0.4586982727050781, Accuracy: 0.7826238870620728

In [18]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity-Optimized.h5")